@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --footer-bg:#C2C2C2;
  --border:#6a6969;
  --product: #333333;
  --text-contact:#C7C7C7;
  --inputbg:#DCDCDC;

}

.nunito {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

.poppins {
  font-family: "Poppins", sans-serif;
 
  font-style: normal;
}

/* hoem page */
.gradient-text {
  background: linear-gradient(90deg, #3BE76B 0%, #218AFA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}